<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
</head>

<body>

    <!-- Cheat sheet
    
        <header>
        <nav></nav>
    </header>
    <main>
        <section id="id1">
            <h1></h1>
            <div></div>
            <p></p>
        </section>
        <section>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <aside></aside>
    </main>
    <footer>
        <div></div>
    </footer> -->
    
  
    
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Home</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">About-us</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'create' %}">Create new tasks</a>


  
    {% block content %}{% endblock %}
</body>
</html>